<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div id="header"></div>
        <form action="/new" method="get">
            <button type="submit">submit</button>
        </form>
        <% for(let data of alldata){ %> 
        <a href="/update/<%= data._id %>" method="get">
        <%= data._id %>
        <br>
        <%= data.name %>
        <br>
        <%= data.deg %>
        <br>
        <%= data.age %>
        <img src="<%= data.img %>" alt="User Image" width="200">
        </a>
        <form action="/delete/<%= data._id %>?_method=DELETE" method="post">
         <button>delete</button>
        </form>
    <% } %>
    </div>
</body>
</html>
