<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form action="/update/<%= data._id %>?_method=PATCH" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="<%= data.name %>">
    <br>

    <label for="deg">Deg</label>
    <input type="text" id="deg" name="deg" value="<%= data.deg %>">
    <br>

    <label for="age">Age</label>
    <input type="number" id="age" name="age" value="<%= data.age %>">
    <br>
   <label for="photo">Upload Image</label>
   <input type="url" id="photo" name="photo" value="<%= data.img %>"> <br>

    <button type="submit">Submit</button>
</form>


</body>
</html>